* {
  box-sizing: border-box;
}

body {
  font-family: Optima, monospace;
  background-color: rgb(166, 186, 247);
  margin: auto;
  font-size: 18px;
  font-weight: normal;
  color: rgb(1, 9, 31);
  width: 60%;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}
.first-section {
  display: flex;
  justify-content: space-around;
}

.profile-picture {
  width: 250px;
  height: 350px;
  border: 2px solid black;
  border-radius: 7%;
  box-shadow: 20px 20px 20px black;
}

.profile-picture:hover {
  border: 5px solid black;
}

.nav-link {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.travelling:before {
  content: "🌍";
}

.true-crime:before {
  content: "🕵️‍♀️ ";
}

.longboard:before {
  content: "🛹";
}

.salsa:before {
  content: "👯";
}

.reading:before {
  content: "📚";
}
.interest-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

h2 {
  _text-transform: uppercase;
  _border: 5px solid black;
}

a[href^="https"] {
  color: #fff;
}

footer {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.description {
  margin-left: 40px;
}

.fieldset-interests {
  border: none;
  display: flex;
  align-items: center;
}
.p-contact {
  margin-left: 10px;
}

.section-socials {
  display: flex;
  justify-content: space-evenly;
}

.h2-socials {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 5px solid black;
}

.fieldset-links {
  border: none;
}

.h2-my-interests {
  text-transform: uppercase;
  border: 5px solid black;
  text-align: center;
  margin-left: 20px;
  padding: 13px;
}

.h2-contact-details {
  text-transform: uppercase;
  border: 5px solid black;
  text-align: center;
  margin-left: 20px;
  padding: 10px;
}

.fieldset-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding-bottom: 20px;
}

.h2-aboutme {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 5px solid black;
  width: 100%;
}

.p-contact {
  text-align: center;
}
