@import "global.css";
@import "components/aboutme.css";
@import "components/header.css";
@import "components/interests-and-contacts.css";
@import "components/socials.css";

body {
  font-family: Optima, monospace;
  background-color: var(--lightgreen);
  font-size: 1.1rem;
  font-weight: normal;
  color: rgb(1, 9, 31);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

footer {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
