.interests {
  border: none;
  _display: flex;
  _align-items: center;
}

.interests__header {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  text-align: center;
  margin-right: 2rem;
}

.interests__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .interests__list {
    align-items: center;
  }
}

.interests__travelling:before {
  content: "🌍";
}

.interests__true-crime:before {
  content: "🕵️‍♀️ ";
}

.interests__longboard:before {
  content: "🛹";
}

.interests__salsa:before {
  content: "👯";
}

.interests__reading:before {
  content: "📚";
}

.contacts__header {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  text-align: center;
  margin-right: 2rem;
}

.contacts__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
}
